<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Halls</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}" type="image/x-icon">
</head>
<body>
    <h1>All Halls!</h1><br>

    <div class="hall_container">
        {% for hall in halls %}
        <div class="hall">

            <h2>Hall's name: <a href="/halls/{{hall.city.name}}/{{hall.name}}">{{hall.name}}</a></h2>
            <h2>Hall's Phone number: {{hall.phone}}</h2>
            <h2>Hall's Description: {{hall.description}}</h2>
            <h2>Hall's Capacity: {{hall.capacity}} People</h2>
            <h2>Hall's Rating: {{hall.rating}}</h2>
            <h2>Hall's City: {{hall.city.name}}</h2>
            <hr>
        </div>
        {% endfor %}
    </div>
</body>
</html>