<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Snippet - GoSNippets</title>
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.jpg' %}"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'cities/style.css' %}" />
  </head>
  <body>
    <nav>
      <div class="nav-bar">
        <i class="bx bx-menu sidebarOpen"></i>
        <span class="logo navLogo"><a href="">Hallsy</a></span>

        <div class="menu">
          <div class="logo-toggle">
            <span class="logo"><a href="">Hallsy</a></span>
            <i class="bx bx-x siderbarClose"></i>
          </div>
          <ul class="nav-links">
            <li><a href="/profile">{{user.username}}</a></li>
            <li><a href="/cities">Home</a></li>
            <li><a href="/halls">Halls</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/logout_user">Logout</a></li>
          </ul>
        </div>
        <div class="darkLight-searchBox">
          <div class="drak-light">
            <i class="bx bx-moon moon"></i>
            <i class="bx bx-sun sun"></i>
          </div>
          <div class="searchBox">
            <div class="searchToggle">
              <i class="bx bx-x cancel"></i>
              <i class="bx bx-search search"></i>
            </div>

            <div class="search-field">
              <input type="text" placeholder="Search..." />
              <i class="bx bx-search"></i>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="section">
      <div class="container">
          <div class="content-section">
              <div class="title">
                  <h1>About Us</h1>
              </div>
              <div class="content">
                  <h3>Card columns can also be extended </h3>
                  <p>Card columns can also be extended and customized with some additional code. Shown below is an extension of the .card-columns class using the same CSS we use—CSS columns— to generate a set of responsive tiers for changing the number of columns.</p>
                  <div class="button">
                      <br><a href=""> Read More</a>
                  </div>
              </div>
              <div class="social">
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
              </div>
          </div>
          <div class="image-section">
              <img src="{% static 'cities/images.jpg' %}" alt="">

          </div>
      </div>
  </div>

    <script src="{% static 'cities/script.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
