<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
  </head>
  <body>
    <form action="/update_password" method="POST">
      {% csrf_token %}
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{message}}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <label for="password">New Password</label>
      <input type="password" name="password" /><br />
      <label for="confirm_password">Confirm Password</label>
      <input type="password" name="confirm_password" />
      <button type="submit">Change</button>
    </form>
  </body>
</html>
