<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hallsy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hall_css/landing.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <header>
        <h2>
          <a href="/"><i class="ion-plane"></i>Hallsy</a>
        </h2>
        <nav>
          <ul>
            <li>
              <a href="/about" title="About">About</a>
            </li>
            <li>
              <a href="/help" title="Help">Help</a>
            </li>
          </ul>
        </nav>
      </header>

      <div class="cover">
        <h1 class="text">The Most Satisfying Party You'll have</h1>
        <h3 class="text">Here we offer the best service to keep you up to date with all Halls available in Palestine, ranging from Wedding to Party and Dining halls.</h3>
        <p class="text"><em>Don't worry, we got you covered!</em></p>
        <a href="/cities_all" class="btn" id="btn">Find out more!</a>
      </div>
    </div>
  </body>
</html>
