<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Log In / Sign Up - pure css - #12</title>
  {% load static %}
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'><link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<a href="#" class="logo" target="_blank">
		<h1>Hallsy</h1>
	</a>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="messages">
											{% if messages %}
											<ul class="messages">
											{% for message in messages %}
												<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
											{{message}}
												</li>
											{% endfor %}
											</ul>
											{% endif %}
										</div>
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Account Reset</h4>
											<form action="/forgot_reset" method="GET">
												{% csrf_token %}
												<div class="form-group mt-2">
													<input type="email" name="email" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
													<i class="input-icon uil uil-at"></i>
												</div>	
												<button type="submit" class="btn mt-4">Request Reset</button>
											</form>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
<!-- partial -->
  <script  src="{% static 'script.js' %}"></script>

</body>
</html>
