<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login and Registration Form Example</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}" type="image/x-icon">
    <link
      rel="stylesheet"
      href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body id="body">
	<h1 id="welcome_text">Welcome To Hallsy</h1>
    <div class="cotn_principal">
      <div class="cont_centrar">
        <div class="cont_login">
          <div class="cont_info_log_sign_up">
            <div class="col_md_login">
              <div class="cont_ba_opcitiy">
                <h2>LOGIN</h2>
                <p>Have an account?</p>
                <button class="btn_login" onclick="change_to_login()">
                  LOGIN
                </button>
              </div>
            </div>
            <div class="col_md_sign_up">
              <div class="cont_ba_opcitiy">
                <h2>SIGN UP</h2>

                <p>Join with us</p>

                <button class="btn_sign_up" onclick="change_to_sign_up()">
                  SIGN UP
                </button>
              </div>
            </div>
          </div>

          <div class="cont_back_info">
            <div class="cont_img_back_">
              <img src="{% static 'layer-background.jpg' %}" alt="layer-background" />
            </div>
          </div>
          <div class="cont_forms">
            <div class="cont_img_back_">
              <img src="{% static 'layer-background.jpg' %}" alt="layer-background" />
            </div>
            <div class="cont_form_login">
              <a href="#" onclick="hidden_login_and_sign_up()">
                <i class="material-icons">&#xE5C4;</i>
              </a>
              <h2><img src="{% static 'login.ico' %}" alt="login.ico" /></h2>
              <form action="/login" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username" />
                <input
                  type="password"
                  placeholder="Password"
                  name="log_password"
                />
                <br /><button
                  type="submit"
                  class="btn_login"
                  onclick="change_to_login()"
                >
                  LOGIN
                </button><br><br>
                <a href="/forgot" id="forgot">Forgot Password?</a>
              </form>
            </div>

            <div class="cont_form_sign_up">
              <a href="#" onclick="hidden_login_and_sign_up()"
                ><i class="material-icons">&#xE5C4;</i></a
              >
              <h2>
                <img src="{% static 'register.ico' %}" width="48px" alt="register.ico" />
              </h2>
              <form action="/register" method="POST">
				        {% csrf_token %}
				        <input type="text" placeholder="Username" name="username" />
            	  <input type="text" placeholder="Fist Name" name="first_name" />
                <input type="text" placeholder="Last Name" name="last_name" />
                <input type="text" placeholder="Email" name="email" />
                <input type="password" placeholder="Password" name="password" />
                <input
                  type="password"
                  placeholder="Confirm Password"
                  name="confirm_password"
                />
                <button type="submit" class="btn_sign_up" onclick="change_to_sign_up()">
                  SIGN UP
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{message}}
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>
