<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Halls</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}" type="image/x-icon">
</head>
<body>
    <h1>Add a Hall</h1>
    <form action="/add_hall" method="POST">
        {% csrf_token %}
        <label for="hall_name">Name</label>
        <input type="text" name="hall_name"><br>
        <label for="hall_phone">Phone Number</label>
        <input type="text" name="hall_phone"><br>
        <label for="hall_desc">Description</label><br>
        <textarea name="hall_desc" cols="50" rows="5" placeholder="Enter Hall Description"></textarea><br>
        <label for="hall_capacity">Capacity</label>
        <input type="text" name="hall_capacity" placeholder="Enter Capacity *e.g. 50"><br>
        <label for="hall_rating">Hall Rating</label>
        <select name="hall_rating">
            <option value="1">Horrible</option>
            <option value="2">Bad</option>
            <option value="3">Alright</option>
            <option value="4">Good</option>
            <option value="5">Amazing</option>
        </select><br>
        <label for="hall_city">Choose a City</label>
        <select name="hall_city">
            {% for city in cities %}
            <option value="{{city.id}}">{{city.name}}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Add Hall</button>
    </form>
    <div class="hall_container">
        {% for hall in halls %}
        <div class="hall">

            <h2>Hall's name: {{hall.name}}</h2>
            <h2>Hall's Phone number: {{hall.phone}}</h2>
            <h2>Hall's Description: {{hall.description}}</h2>
            <h2>Hall's Capacity: {{hall.capacity}} People</h2>
            <h2>Hall's Rating: {{hall.rating}}</h2>
            <h2>Hall's City: {{hall.city.name}}</h2>
            <hr>
        </div>
        {% endfor %}
    </div>
</body>
</html>